.Form {
    text-align: center;
  }
  

.container {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    font-size:18px;
    color: white; 
  }
  input{
    color: black;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
  }
  
  select{
    color: black;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
  }
  
  .buttonDelete {
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    margin-right: 8px;
  }
  
    
  .buttonSave {
    background-color: #61dafb;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    margin-right: 8px;
  }
  